@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*Pergunta de segurança na tela de recuperação*/
input#SecurityQuestion {
    outline: none !important;
}

/*seletor de produto na tela de edição de vendas*/
.disabled-select {
    pointer-events: none;
    touch-action: none;
    appearance: none;
    background-color: #f8f9fa;
    color: #6c757d;
    cursor: not-allowed;
}

/*regras para impressão*/
@media print {
    @page {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    nav {
        display: none; 
    }

    .disable-to-print {
        display: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}  

/*regras do botão de voltar ao topo*/
.btn-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    visibility: hidden;
}
    .btn-top.show {
        visibility: visible;
    }
