@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="mb-3 mt-5">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h1 class="display-2">Olá, @User.Identity.Name!</h1>
        <p class="mt-5 display-6">Aqui estão algumas informações da empresa</p>
    }
    else
    {
        <p class="mt-5 display-6">[...]</p>
    }
</div>
