@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="container mt-5">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Olá, @User.Identity.Name!</h1>
        <p class="lead mt-4">Aqui estão algumas informações da empresa</p>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card h-100 d-flex align-items-center bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">ITENS CADASTRADOS</h5>
                        <p class="card-text display-6">@ViewData["TotalItemsCadastrados"]</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100 d-flex align-items-center bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">ITENS VENDIDOS HOJE</h5>
                        <p class="card-text display-6">@ViewData["TotalItemsVendidosNoDia"]</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100 d-flex align-items-center bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">COMISSÕES NÃO PAGAS</h5>
                        <p class="card-text display-6">@ViewData["ParceirasAguardandoPagamento"]</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
