@page
@model BrechoLaFripAtelier.Pages.Partners.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1 class="mb-3 mt-5 display-4">Parceiras</h1>

<h4>Edição</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Partner.Id" />
            <div class="form-group">
                <label asp-for="Partner.Name" class="control-label"></label>
                <input asp-for="Partner.Name" class="form-control" />
                <span asp-validation-for="Partner.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partner.Phone" class="control-label"></label>
                <input asp-for="Partner.Phone" class="form-control" />
                <span asp-validation-for="Partner.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partner.CPFnumber" class="control-label"></label>
                <input asp-for="Partner.CPFnumber" class="form-control" />
                <span asp-validation-for="Partner.CPFnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partner.Commission" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Partner.Commission" class="form-control" />
                    <span class="input-group-text">%</span>
                </div>
                <span asp-validation-for="Partner.Commission" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <div class="mt-3">
                    <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
