@page
@model BrechoLaFripAtelier.Pages.Admins.AccessDeniedModel
﻿
@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "_Layout1";
}

<h1 class="text-center mb-3 mt-5 display-4">Acesso Negado</h1>

<div class="d-flex mt-5 justify-content-center">
    <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
</div>