@page
@model BrechoLaFripAtelier.Pages.Admins.LogoutModel
﻿
@{
    ViewData["Title"] = "Desconectado";
    Layout = "_Layout1";
}

<h4 class="text-center mb-3 mt-5">Você se desconectou. Faça <a href="./Login">Login</a> para ter acesso novamente.</h4>