@page
@model BrechoLaFripAtelier.Pages.Admins.ResetPasswordModel
@{
    ViewData["Title"] = "Recuperação";
    Layout = "_Layout1";
}

<h1 class="text-center mb-3 mt-5 display-4">RECUPERAR SENHA</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <form method="post">
            <div class="form-group">
                <label for="newPassword" class="control-label">Nova Senha</label>
                <input type="password" class="form-control" id="newPassword" name="NewPassword" minlength="8" required />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirme a Nova Senha</label>
                <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" minlength="8" required />
                <span id="error-message" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <div class="mt-3">
                    <a href="./Login" class="btn btn-secondary">Retornar ao Login</a>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Confirmar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                var newPassword = $('#newPassword').val();
                var confirmPassword = $('#confirmPassword').val();

                if (newPassword !== confirmPassword) {
                    $('#confirmPassword').addClass('is-invalid');
                    $('#error-message').text('As senhas não coincidem.');
                    return false;
                } else {
                    $('#confirmPassword').removeClass('is-invalid');
                    $('#error-message').text('');
                    return true;
                }
            });
        });
    </script>
}
