@page
@model BrechoLaFripAtelier.Pages.Admins.ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h1></h1>

<h4>Redefinir Senha</h4>
<hr />

<form method="post">
    <div class="form-group">
        <label for="newPassword">Nova Senha:</label>
        <input type="password" class="form-control form-control-md w-auto" id="newPassword" name="NewPassword" minlength="8" required />
    </div>
    <div class="form-group mb-3">
        <label for="confirmPassword">Confirmar Nova Senha:</label>
        <input type="password" class="form-control form-control-md w-auto" id="confirmPassword" name="ConfirmPassword" minlength="8" required />
    </div>
    <div class="form-group mb-3">
        <span id="error-message" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
    </div>
</form>

<div class="form-group mb-3">
    <a href="/Admins/Login" class="btn btn-secondary">Ir para a Página de Login</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                var newPassword = $('#newPassword').val();
                var confirmPassword = $('#confirmPassword').val();

                if (newPassword !== confirmPassword) {
                    $('#confirmPassword').addClass('is-invalid');
                    $('#error-message').text('As senhas não coincidem.');
                    return false;
                } else {
                    $('#confirmPassword').removeClass('is-invalid');
                    $('#error-message').text('');
                    return true;
                }
            });
        });
    </script>
}