@page
@using BrechoLaFripAtelier.Models;
@model BrechoLaFripAtelier.Pages.Sales.EditModel

@{
    ViewData["Title"] = "Editar Venda";
}

<h1>Vendas</h1>

<h4>Edição de Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sale.Id" />
            <div class="form-group">
                <label asp-for="Sale.ProductId" class="control-label"></label>
                <select asp-for="Sale.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="Sale.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.DateOfSale" class="control-label"></label>
                <input asp-for="Sale.DateOfSale" class="form-control" />
                <span asp-validation-for="Sale.DateOfSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Status" class="control-label"></label>
                <select asp-for="Sale.Status" class="form-control" asp-items="Html.GetEnumSelectList<CommissionStatus>()"></select>
                <span asp-validation-for="Sale.Status" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <div class="mt-3">
                    <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
